
#cont1 {
	background-color:;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#cont {
	background-color: #DFDCDC;
	display: flex;
	margin-left: 100px;
	margin-right:100px;
	flex-wrap: wrap;
	margin-top: 50px;
	justify-content: space-between;
}
.box {
	background:#6D849C;
	float: center;
	text-align: center;
	margin: 2%;
	padding: 0 0 10px 0;
	height: 20%;
	width: 20%;
	overflow: hidden;
	
}
.box:hover {
	background:#A9A9AD;

}


.eskul {
	text-transform: uppercase;
	font-family: serif;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 35px;
}

.jumlah {
	font-weight: 700;
	background:;
	color: white;
	font-size: 30px;
	margin: 10px 0;
	padding: 0;
}

.btn{
	background: #333;
	border-radius: 5px;
	padding: 5px;
	font-family: tahoma;
	text-decoration: none;
	width: 90%;
	color: white;
	border: none;
}
.btn:hover {
	background:#336699;
	color:white;
	text-transform: uppercase;
}


#under-head {

	height: 50%;
	width: 200px;
	text-align: left;
	color: #fff;
	padding: 10px;
	margin-left: 85%;
	margin-top: -30px;
}